#include<stdio.h>
int main()
{
	char ch;
	int n,i,j,ptr,c,z,sum=0,avgtime;
	int atime[10],btime[10],wtime[10],priority[10],pn[10],tatime[10];
	

	printf("__________________________________\n");
	printf("Enter the the no. of processes : ");
	scanf("%03d",&n);
	printf("__________________________________\n");
	//system("cls");
